# Ignore certificates
*.crt
*.pem
*.key

# Ignore password files
*.env
passwords.txt
secrets.json

# Ignore system files
.DS_Store
Thumbs.db

# Ignore node_modules (if applicable)
node_modules/
HybridMQTT-JWT\certs
HybridMQTT-TLS\certs

# Ignore build artifacts
dist/
build/

# Ignore logs
*.log

# Ignore IDE-specific files
.vscode/
.idea/